@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton'), url(http://fonts.gstatic.com/s/anton/v6/GjSNopHClCkuqzxJ1ggv0Q.woff2) format('woff2'), url(http://fonts.gstatic.com/s/anton/v6/a-wTzfCTDyFI7dYTRrW3tg.woff) format('woff');
}
